export ANTHROPIC_AUTH_TOKEN=121f5560d45f4f25bb16eb1f4dfe7c87.qTmWFrvtxyEm1VKP
export ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic
export ANTHROPIC_DEFAULT_OPUS_MODEL=GLM-4.6
export ANTHROPIC_DEFAULT_SONNET_MODEL=GLM-4.6
export ANTHROPIC_DEFAULT_HAIKU_MODEL=GLM-4.5-Air
export TBDB_API_TOKEN=tbdb-kOKT-LMQEsC6xz9mJzLm5
export TBDB_BASE_URL=https://api.thebookdb.info
export TBDB_API_URL=https://api.thebookdb.info
